In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb

In [2]:
data = pd.read_csv('insurance.csv')

In [3]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
le_sex = LabelEncoder()
data['sex'] = le_sex.fit_transform(data['sex'])

le_smoker = LabelEncoder()
data['smoker'] = le_smoker.fit_transform(data['smoker'])

le_region = LabelEncoder()
data['region'] = le_region.fit_transform(data['region'])

In [5]:
x = data.drop('charges', axis=1)
y = data['charges']

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [7]:
model = xgb.XGBRegressor()
model.fit(x_train, y_train)
print('Train score:', model.score(x_train, y_train))
print('Test score:', model.score(x_test, y_test))

Train score: 0.9974430414041185
Test score: 0.8385112921168525

In [8]:
model1 = xgb.XGBRegressor(n_estimators=12, max_depth=8, learning_rate=0.5)
model1.fit(x_train, y_train)
print('Train score:', model1.score(x_train, y_train))
print('Test score:', model1.score(x_test, y_test))

Train score: 0.9900559700823874
Test score: 0.8397032691900039