In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
# from sklearn.ensemble import XGBClassifier
import xgboost as xgb

In [ ]:
# pip install xgboost

In [3]:
data = pd.read_csv('iris.csv')

In [4]:
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [8]:
le_variety = LabelEncoder()
data['variety'] = le_variety.fit_transform(data['variety'])

In [9]:
x = data.drop('variety', axis = 1)
y = data['variety']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=23)

In [11]:
model = xgb.XGBClassifier()
model.fit(x_train, y_train)
print('Train score:', model.score(x_train, y_train))
print('Test score:', model.score(x_test, y_test))

Train score: 1.0
Test score: 0.9736842105263158

In [12]:
model1 = xgb.XGBClassifier(n_estimators=12, max_depth=6, learning_rate=0.5)
model1.fit(x_train, y_train)
print('Train score:', model1.score(x_train, y_train))
print('Test score:', model1.score(x_test, y_test))

Train score: 1.0
Test score: 0.9736842105263158